 .u-section-1 {
  background-image: linear-gradient(#2cccc4, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  background-image: none;
  margin: 60px auto 0 -19px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}