 .u-section-1 {
  background-image: linear-gradient(#478ac9, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  background-image: none;
  margin: 60px auto 0 -24px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 12px 359px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  animation-duration: 1000ms;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -50px auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  border-style: none;
  animation-duration: 1000ms;
  margin: 31px auto 0 0;
  padding: 10px 83px 10px 82px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2054px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-2 .u-image-1 {
  width: 115px;
  height: 115px;
  background-image: url("images/football-soccer-ball-trace-isolated-goal-kick-icon-vector-33224234.jpg.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -1599px 0 0 auto;
}

.u-section-2 .u-image-2 {
  width: 115px;
  height: 115px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/8314.png");
  background-position: 50% 50%;
  margin: 319px 0 0 auto;
}

.u-section-2 .u-video-1 {
  height: 539px;
  width: 959px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 188px auto 0;
}

.u-section-2 .u-image-3 {
  width: 142px;
  height: 142px;
  margin: -1501px -13px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 65px;
  height: 65px;
  margin: 216px 25px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 65px;
  height: 65px;
  margin: 369px 26px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 65px;
  height: 65px;
  margin: 870px 25px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 93px;
  height: 93px;
  margin: -1309px 11px 1248px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2043px;
  }

  .u-section-2 .u-video-1 {
    height: 528px;
    width: 940px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -1490px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1919px;
  }

  .u-section-2 .u-video-1 {
    height: 404px;
    width: 720px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -1366px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1818px;
  }

  .u-section-2 .u-video-1 {
    height: 303px;
    width: 540px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -1265px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1706px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -1153px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 100px auto 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 115px;
  height: 114px;
  background-image: url("images/PortiereSi.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -456px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 115px;
  height: 115px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/kisspng-computer-icons-reboot-reset-icon-symbol-restart-5ab17c20218241.3252006615215810881373.jpg.png");
  background-position: 50% 50%;
  margin: 143px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 65px;
  height: 65px;
  margin: -238px 25px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 65px;
  height: 65px;
  margin: 192px 25px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 54px auto 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 115px;
  height: 115px;
  background-image: url("images/kisspng-computer-icons-reboot-reset-icon-symbol-restart-5ab17c20218241.3252006615215810881373.jpg1.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -565px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 65px;
  height: 65px;
  margin: 20px 25px 365px auto;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}