 .u-section-1 {
  background-image: linear-gradient(#f1c50e, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 59px auto 0 -19px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 21px 134px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  border-style: none;
  background-image: none;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 10px 103px 11px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  border-style: none;
  animation-duration: 1500ms;
  margin: 30px auto 0 0;
  padding: 10px 83px 10px 82px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 781px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -32px;
    margin-right: -32px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 717px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 781px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 3042px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 102px auto 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  line-height: 2;
  margin: 33px 0 0;
}

.u-section-3 .u-image-1 {
  width: 510px;
  height: 213px;
  margin: -427px auto 0;
}

.u-section-3 .u-text-3 {
  margin: -2078px 0 0;
}

.u-section-3 .u-text-4 {
  text-align: left;
  margin: 877px 0 0;
}

.u-section-3 .u-image-2 {
  width: 396px;
  height: 26px;
  margin: -831px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 570px;
  height: 29px;
  margin: 132px auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 495px;
  height: 40px;
  margin: 446px auto 0 0;
}

.u-section-3 .u-image-5 {
  width: 333px;
  height: 70px;
  margin: 391px auto 0 0;
}

.u-section-3 .u-image-6 {
  width: 243px;
  height: 86px;
  margin: 86px auto 812px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3040px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2942px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 142px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -2007px;
  }

  .u-section-3 .u-image-2 {
    height: 22px;
    margin-top: -878px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 18px;
    margin-top: 137px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 27px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 3308px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 16px 0 0;
}

.u-section-4 .u-image-1 {
  width: 342px;
  height: 336px;
  margin: -1374px auto 0;
}

.u-section-4 .u-image-2 {
  width: 310px;
  height: 34px;
  margin: 572px auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 97px;
  height: 19px;
  margin: 83px 430px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 53px;
  height: 29px;
  margin: -24px auto 0 495px;
}

.u-section-4 .u-image-5 {
  width: 104px;
  height: 21px;
  margin: -24px 310px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 73px;
  height: 34px;
  margin: -549px 512px 0 auto;
}

.u-section-4 .u-image-7 {
  width: 72px;
  height: 39px;
  margin: -36px 387px 0 auto;
}

.u-section-4 .u-image-8 {
  width: 86px;
  height: 31px;
  margin: 45px auto 0 0;
}

.u-section-4 .u-image-9 {
  width: 570px;
  height: 64px;
  margin: 65px auto 0 0;
}

.u-section-4 .u-image-10 {
  width: 426px;
  height: 85px;
  margin: -267px auto 0 0;
}

.u-section-4 .u-text-3 {
  text-align: left;
  margin: 818px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 53px 0 0;
}

.u-section-4 .u-image-11 {
  width: 570px;
  height: 334px;
  margin: -600px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3287px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 487px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 467px;
  }

  .u-section-4 .u-image-9 {
    width: 540px;
    height: 61px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -264px;
  }

  .u-section-4 .u-image-11 {
    width: 540px;
    height: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3008px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    margin-right: 243px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 287px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 236px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 267px;
  }

  .u-section-4 .u-image-7 {
    margin-right: 268px;
  }

  .u-section-4 .u-image-9 {
    width: 340px;
    height: 38px;
  }

  .u-section-4 .u-image-10 {
    width: 340px;
    height: 68px;
    margin-top: -241px;
  }

  .u-section-4 .u-image-11 {
    width: 340px;
    height: 199px;
  }
}