body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 80%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-mobile-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }


 .u-section-1 {
  background-image: linear-gradient(#2cccc4, white);
}

.u-align-center {
  text-align: center;
}

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}

.u-stick-footer .u-footer {
  margin-top: auto;
}

.u-grey-80,
.u-body.u-grey-80,
.u-container-style.u-grey-80:before,
.u-container-layout.u-grey-80:before,
.u-table-alt-grey-80 tr:nth-child(even) {
  color: #ffffff;
  background-color: #333333;
}

.u-header .u-sheet-1 {
  min-height: 90px;
}

.u-sheet > * {
  position: relative;
}

.u-image,
.u-background-effect-image,
.u-video-poster {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.u-preserve-proportions.u-expanded-width > * {
  position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-xl > * {
  position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-lg > * {
  position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-md > * {
  position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-sm > * {
  position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-xs > * {
  position: absolute !important;
}
.u-preserve-proportions.u-expanded-width > .u-preserve-proportions-child {
  position: relative !important;
}
.u-preserve-proportions.u-expanded-width-xl > .u-preserve-proportions-child {
  position: relative !important;
}
.u-preserve-proportions.u-expanded-width-lg > .u-preserve-proportions-child {
  position: relative !important;
}
.u-preserve-proportions.u-expanded-width-md > .u-preserve-proportions-child {
  position: relative !important;
}
.u-preserve-proportions.u-expanded-width-sm > .u-preserve-proportions-child {
  position: relative !important;
}
.u-preserve-proportions.u-expanded-width-xs > .u-preserve-proportions-child {
  position: relative !important;
}

.u-footer .u-image-1 {
  width: 183px;
  height: 183px;
  margin: 38px auto 0 0;
}

.u-align-center {
  text-align: center;
}

p.u-small-text
        {
        font-size: 0.875rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }


.u-text a,
.u-post-content a,
.u-tab-item a,
.u-nav-item a {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a {
  color: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a,
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a:hover {
  text-decoration: none;
}

p:not(.u-text-variant)
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }

.u-footer .u-text-1 {
  width: 462px;
  font-size: 1.25rem;
  margin: -150px auto 60px;
}


.u-align-center {
  text-align: center;
}
@media (min-width: 1200px) {
  .u-align-center-xl {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-align-center-lg {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-align-center-md {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-align-center-sm {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .u-align-center-xs {
    text-align: center;
  }
}
